
@media (max-width: 1800px) {
    .works__img{
        width: 300px;
        height: auto;
    }
    .watch{
        left: 33%;
        top: 32%;
    }
}
@media (max-width: 1366px){
    .works__inner{
        margin: 0 auto;
        width: 1200px;
    }
}
@media (max-width: 1200px)  {
    .works__img{
        width: 250px;
        height: auto;
    }
    .works__inner{
        margin: 0 auto;
        width: 1000px;
    }
    .video__item-img{
        width: 800px;
    }
    .video__item{
        margin: 0 auto;
        width: 800px;
    }
}

@media (max-width: 1120px){
    .skill__img-item{
        width: 375px;
        height: auto;
        margin-left: 100px;
    }
    .sills__inner {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .projects__inner{
        max-width: 480px;
        margin: 0 auto;
    }
    .project__box{
        margin-left: 0px;
    }
    .clients__inner{
        margin: 0;
        max-width: 560px;
        margin: 0 auto;
    }
    .project__box:nth-child(1),
    .project__box:nth-child(2),
    .project__box:nth-child(3){
        margin-bottom: 50px;
    }
    .clients__inner a + a {
        margin-left: 0px;
    }
}

@media (max-width: 1010px){
    .works__img{
        width: 160px;
        height: auto;
    }
    .works__inner{
        width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .watch__img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 814px) {
    body.lock {
      overflow: hidden;
    }
  
    .header__body {
      height: 50px;
    }
  
    .header__logo {
      flex: 0 0 40px;
    }
  
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
    }
  
    .header__burger span {
        background-color: darkblue;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  
    .header__burger:before,
  .header__burger:after {
      content: "";
      background-color: darkblue;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
  
    .header__burger:before {
      top: 0;
    }
  
    .header__burger:after {
      bottom: 0;
    }
  
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
  
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  
    .header__burger.active span {
      transform: scale(0);
    }
  
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      /*для прокрутки меню, когда оно не помещается в экран*/
      overflow: auto;
      background-color: rgba(20, 22, 22, 0.418);
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease 0s;
    }
    .header__list li + li{
        margin-left: 0px;
    }
    .header__menu.active {
      top: 0;
    }
  
    .header__list {
      display: block;
      text-align: center;
      height: 100%;
    }
  
    .header__list li {
      margin: 0 0 20px 0;
    }
  
    .header__link {
      font-size: 24px;
      background-color: #fff;
      border-radius: 6px;
    }
    .works__inner{
        width: 640px;
    }
    .clients__link:nth-child(2),
    .clients__link:nth-child(4){
        margin-left: 20px;
    }
    .video__item {
        margin: 0 auto;
        width: 100%;
    }
  }
  .content {
    padding: 100px 0 0 0;
  }

@media(max-width:980px){
    .main__info{
        margin-left: 30px;
        text-align: center;
    }
    .main__text{
        max-width: 488px;
    }
    .main__inner{
        justify-content: start;
    }
    .skill__img-item{
        margin-left: 50px;
    }
}

@media(max-width:900px){
    .skill__img-item {
        margin-left: 25px;
    }
}

@media(max-width:864px){
    .main__inner{
        display: block;
        padding-top: 20px;
    }
    .main__info{
        margin-left: 0;
    }
    .main{
        height: 800px;
    }
    .main__text{
        margin: 0 auto 60px;
    }
    .main__img{
        text-align: center;
        margin-bottom: 60px;
    }
    .sills__inner{
        display: block;
        text-align: center;
    }
    .skill__img-item {
        margin-left: 0px;
    }
    .skills__programm{
        margin: 0 auto 30px;
    }
    .skills{
        height: 690px;
    }
    .video__item-img{
        width: 600px;
        height: auto;
        
    }
    .video__item-link{
        text-align: center;
        margin: 0 auto;
    }
    .video{
        height: 628px;
    }
    .video__inner{
        text-align: center;
    }
    .play__btn {
        width: 70px;
        height: 70px;
    }
    .video__link-btn {
        top: 37%;
        left: 45%;
    }
}

@media(max-width:650px){
    .works__inner {
        width: 480px;
    }
}

@media(max-width:620px){
    .video__item-img {
        width: 400px;
        height: auto;
    }
    .play__btn {
        width: 50px;
        height: 50px;
    }
}
@media(max-width:560px){
    .clients__inner{
        max-width: 255px;
    }
    .clients{
        height: 453px;
        background: #EEEFF1;
        padding-top: 40px;
    }
    .clients__link:nth-child(2), .clients__link:nth-child(4) {
        margin-left: 0px;
    }
    .main__text {
        width: 360px;
    }
    .main__title{
        margin-bottom: 20px;
    }
    .main__img{
        margin-bottom: 30px;
    }
    .main {
        height: 680px;
    }
    .about__text {
        width: 360px;
    }
    .about__title{
        margin-bottom: 20px;
    }
    .about{
        height: 306px;
    }
    .skills__programm {
        width: 360px;
    }
    .skills__programm::after {
        width: 260px;
    }
    .video__title{
        margin-bottom: 30px;
    }
    .video__text {
        width: 360px;
        margin-bottom: 37px;
    }
    .video {
        height: 544px;
    }
    .works__inner{
        max-width: 320px;
        padding-bottom: 30px;
    }
    .form__title{
        margin-bottom: 30px;
    }
    .form__text {
        width: 360px;
        margin-bottom: 25px;
    }
    .inputs{
        display: block;
        width: 100%;
    }
    .inputs div + div {
        margin-left: 0px;
    }
    .input{
        margin-bottom: 20px;
    }
    .input__comment{
        width: 340px;
        height: 120px;
        margin-bottom: 20px;
    }
    .projects__inner{
        max-width: 325px;
    }
    .projects {
        height: 391px;
    }
    .project__box{
        margin-bottom: 50px;
    }
    .project__box:nth-child(1), .project__box:nth-child(2), .project__box:nth-child(3) {
        margin-bottom: 50px;
    }
    .project__box:nth-child(5), .project__box:nth-child(6){
        margin-bottom: 0px;
    }
    .footer__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
}

@media(max-width:450px){
    .footer__inner{
        display: block;
    }
    .footer__text{
        margin-bottom: 30px;
    }
    .footer{
        height: 170px;
    }
    .video__item-img{
        width: 350px;
    }
    .play__btn{
        width: 40px;
        height: 40px;
    }
}
@media(max-width:390px){
    .skill__img-item{
        width: 100%;
    }
    .main__img-item{
        width: 100%;
    }
    .projects__inner {
        max-width: 300px;
    }
}














